  *{
    margin: 0;
    padding: 0;
  }
  
  .comparison {
    margin: 0 auto;
    width: 1900px;
    height: 800px;
    font-family: Karla, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  .comparison-header {
    font-size: 13px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    padding: 10px;
  }
  
  .comparison-title {
    font-size: 18px;
    font-weight: 600;
  }
  
  .comparison-tbl {
    font-size: 11px;
  }
  
  .header {
    border-bottom: 2px solid #555;
  }
  
  .header:hover {
    background-color: #eee;
  }
  
  .bar-cell {
    display: flex;
  }
  
  .number {
    font-family: "Fira Mono", Consolas, Monaco, monospace;
    font-size: 13.5px;
    white-space: pre;
  }
  
  .bar-chart {
    flex-grow: 1;
    margin-left: 6px;
    height: 14px;
  }
  
  .bar {
    height: 100%;
  }

  .rt-td, .rt-th {
    padding: 0px 8px;
  }

  .rt-td-inner {
    padding: 1.5px 8px;
  }
  
  .rt-th-content {
    text-transform: uppercase;    
  }
  
  .border-left {
    border-left: 2px solid #555;
  }
  
  .c3 {
    font-size: 8pt;
    line-height: 0.9pt;
  }