  *{
    margin: 0;
    padding: 0;
  }
  
  .comparison {
    margin: 0 auto;
    width: 85%;
    height: 800px;
    font-family: Karla, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  .comparison-header {
    font-size: 11px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    padding: 10px;
  }
  
  .comparison-title {
    font-size: 18px;
    font-weight: 600;
  }
  
  .comparison-tbl {
    font-size: 10.5px;
  }
  
  .header {
    border-bottom: 2px solid #555;
  }
  
  .header:hover {
    background-color: #eee;
  }
  
  .bar-cell {
    display: flex;
  }
  
  .bar-chart {
    flex-grow: 1;
    margin-left: 6px;
    height: 14px;
  }
  
  .bar {
    height: 100%;
  }
  
  .rt-th {
    display: flex;
    justify-content: center;
    align-items: bottom; 
  }

  .rt-td-inner {
    padding: 1.5px 4px;
  }
  
  .rt-th-inner {
    padding: 7px 0px !important;
  }
  
  .rt-th-content {
    text-transform: uppercase;    
  }
  
  .border-left {
    border-left: 1px dashed #e6e6e6;
  }
  
  .c3 {
    font-size: 10px !important;
    line-height: 12px;
    display: block;
    color: hsl(0, 0%, 25%);
  }